###
### Возможные значения для включения параметра (любой регистр):
###   true, t, yes, y, on, 1, "<пустая строка>"
### (другие значения будут восприняты как отключение)
###

# НЕ КОММИТЬТЕ ЭТОТ КЛЮЧ В РЕПОЗИТОРИЙ
BOT_TOKEN=fake-key

# НЕ ИСПОЛЬЗУЙТЕ DEBUG МОД В ПРОДАКШЕНЕ
DEBUG=true
